@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.team{
    padding:60px 0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
	text-align: center;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: #002546;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box div{
	position: absolute;
	z-index: 2;
	text-align: center;
	width: 100%;
	opacity: 0;
	font-size: 3em;
	height: 227px;
	line-height: 227px;
}
.profile .img-box:after, .img-box div, .img-box div i{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box div i{
	border: 1px solid #fff;
	color: #fff;
	padding: 10px 22px;
}
.img-box:hover:after{
	opacity: 0.8;
}
.img-box:hover div{
	opacity: 1;
}