/* CSS TEAM*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.team{
    padding:60px 0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
	text-align: center;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: #002546;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box div{
	position: absolute;
	z-index: 2;
	text-align: center;
	width: 100%;
	opacity: 0;
	font-size: 3em;
	height: 227px;
	line-height: 227px;
}
.profile .img-box:after, .img-box div, .img-box div i{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box div i{
	border: 1px solid #fff;
	color: #fff;
	padding: 10px 22px;
}
.img-box:hover:after{
	opacity: 0.8;
}
.img-box:hover div{
	opacity: 1;
}
.pointeur{
	cursor: pointer;
}
.w100{
	width: 100%;
}
.w90{
	width: 90%;
}
.h100{
	height: 100%;
}
.h90{
	height: 90%;
}
.pm0{
	padding: 0;
	margin: 0;
}
.fondBlanc{
	background-color: #fff;
}
#nomPersonne{
	font-size: 2em;
	font-weight: bold;
	padding: 0px 10px;
	padding-top: 10px;
}
#descriptionPersonne{
	padding: 0px 30px;
}
.divFleche{
	height: 100%;
	display: table;
}
.divFleche .fleche{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 4em;
}
/* CONTACT*/
.flexCenter{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex{
	display: flex;
}